<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yiming.dao.LiveRoomMapper">
      <insert id="initiate" parameterType="com.yiming.entity.LiveRoom">
        insert into liveroom(liveRoomNum, roomName, teacherId, sourcePath, imgPath, isRecording) 
        values(#{0},#{1},#{2},#{3},#{4},#{5})
      </insert>
      <select id="getSourcePath" parameterType="com.yiming.entity.LiveRoom" resultType="String">
        select sourcePath from liveroom where liveRoomNum=#{0}
      </select>
      <select id="getAllLiveRoom" resultType="LiveRoom">
        select * from liveroom
      </select>

    <select id="getLiveroomByRoomNum" resultType="com.yiming.entity.LiveRoom">
        select * from liveroom where liveRoomNum = #{0}
    </select>
    <update id="updateGaglistByRoomNum">
        update liveroom set gagList = #{1} where liveRoomNum = #{0}
    </update>
      <select id="getQueriedLiveRoom" parameterType="String" resultType="LiveRoom">
      	select * from liveroom where roomName LIKE CONCAT(CONCAT('%', #{otherInfo}), '%');
      </select>
      <select id="getBlackList" parameterType="String" resultType="String">
      	select blackList from liveroom where teacherId=#{0}
      </select>
      <update id="updateBlacklistByPhoneNum">
        update liveroom set blackList = #{1} where liveRoomNum = #{0}
      </update>
  </mapper>
  
  